html{
  font-size: 18px;
  font-family: 'sans-serif';
}
p{
  font-size: 1.6rem;
  line-height: 1.5;
}
h1{
  font-family: 'sans-serif';
  text-align: center;
  font-size: 9rem;
  font-weight: 900;
  margin: 2rem 0;
  letter-spacing: -1px;
  color: black;
}
.photo-grid{
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.figure{
  border: 1px solid #d3d3d3;
  flex-basis: calc(33% - 4rem);
  padding: 2rem;
  flex-grow: 1;
  margin: 0 2rem 2rem 2rem;
}
.photo{
  width: calc(100% + 4rem);
  margin: -2rem 0rem 0rem -2rem;
}
.button-container{
    display: flex;
    justify-content: center;
}
.remove-button{
  flex-basis: 48%;
  color: red;
  font-size: 15px;
  border: 2px solid #f2f2f2;
  line-height: 2;
  padding: 5px;
  cursor: pointer;
}
